// Display
.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.d-block {
    display: block;
}

.d-inblock {
    display: inline-block;
}

.d-inflex {
    display: inline-flex;
}

// Justify-content
.jcc {
    justify-content: center;
}

.jcsb {
    justify-content: space-between;
}

.jcsa {
    justify-content: space-around;
}

.jcfe {
    justify-content: flex-end;
}

// Align-items
.aic {
    align-items: center;
}

.aie {
    align-items: end;
}

.ais {
    align-items: start;
}

// Flex
.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-auto {
    flex: 1 1 auto;
}

.flex {
    flex: 1;
}

.flex-wrap {
    flex: wrap;
}

// Margin
.m-center {
    margin: 0 auto;
}

.m-auto {
    margin: auto;
}

// Position
.pos-a {
    position: absolute;
}

.pos-r {
    position: relative;
}

.pos-static {
    position: static;
}

.pos-sticky {
    position: sticky;
}

// Opacity
.op-1 {
    opacity: 0.1;
}

.op-2 {
    opacity: 0.2;
}

.op-3 {
    opacity: 0.3;
}

.op-4 {
    opacity: 0.4;
}

.op-5 {
    opacity: 0.5;
}

.op-6 {
    opacity: 0.6;
}

.op-7 {
    opacity: 0.7;
}

.op-8 {
    opacity: 0.8;
}

.op-9 {
    opacity: 0.9;
}

.op-10 {
    opacity: 1;
}

// Other
.c-p {
    cursor: pointer;
}
