// Text
.tac {
    text-align: center;
}

.ttc {
    text-transform: capitalize;
}

.ttu {
    text-transform: uppercase;
}

.ttl {
    text-transform: lowercase;
}

.tdn {
    text-decoration: none;
}

.tdu {
    text-decoration: underline;
}

.tdl-t {
    text-decoration: line-through;
}

.td-dash {
    text-decoration: dashed;
}

.td-dot {
    text-decoration: dotted;
}

.td-double {
    text-decoration: double;
}

// Font-weight
.fw100 {
    font-weight: 100;
}

.fw200 {
    font-weight: 200;
}

.fw300 {
    font-weight: 300;
}

.fw400 {
    font-weight: 400;
}

.fw500 {
    font-weight: 500;
}

.fw600 {
    font-weight: 600;
}

.fw700 {
    font-weight: 700;
}

.fw800 {
    font-weight: 800;
}

.fw900 {
    font-weight: 900;
}

.fwbold {
    font-weight: bold;
}

.fwnormal {
    font-weight: normal;
}

// Color
.white {
    color: #fff;
}

.black {
    color: #000;
}
