$sides: (
    'top': 't',
    'right': 'r',
    'bottom': 'b',
    'left': 'l',
);

@each $side, $letter in $sides {
    @for $px from 1 through 50 {
        .m#{$letter}-#{$px * 1} {
            margin-#{$side}: #{$px * 1}px !important;
        }

        .p#{$letter}-#{$px * 1} {
            padding-#{$side}: #{$px * 1}px !important;
        }

        .m-#{$px * 1} {
            margin: #{$px * 1}px !important;
        }

        .p-#{$px * 1} {
            padding: #{$px * 1}px !important;
        }
    }
}
