$sides: (
    'top': 't',
    'right': 'r',
    'bottom': 'b',
    'left': 'l',
);

// Margin and padding
@each $side, $letter in $sides {
    @for $px from 1 through 50 {
        .m#{$letter}-#{$px * 1} {
            margin-#{$side}: #{$px * 1}px !important;
        }

        .p#{$letter}-#{$px * 1} {
            padding-#{$side}: #{$px * 1}px !important;
        }

        .m-#{$px * 1} {
            margin: #{$px * 1}px !important;
        }

        .p-#{$px * 1} {
            padding: #{$px * 1}px !important;
        }
    }
}

// Top, right, left, bottom pixels
@for $px from 0 through 50 {
    .top-#{$px * 1} {
        top: #{$px * 1}px;
    }
    .right-#{$px * 1} {
        right: #{$px * 1}px;
    }
    .left-#{$px * 1} {
        left: #{$px * 1}px;
    }
    .bottom-#{$px * 1} {
        bottom: #{$px * 1}px;
    }
}

// Top, right, left, bottom percentage
@for $percentage from 0 through 10 {
    .top-p#{$percentage * 10} {
        top: #{$percentage * 10%};
    }
    .bottom-p#{$percentage * 10} {
        bottom: #{$percentage * 10%};
    }
    .right-p#{$percentage * 10} {
        right: #{$percentage * 10%};
    }
    .left-p#{$percentage * 10} {
        left: #{$percentage * 10%};
    }
}
